Implementation of Python Libraries for ML application such as Pandas and Matplotlib.
a) Create a Series using pandas and display

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

print("Create Series using Pandas:")
series = pd.Series([5, 10, 15, 20, 25])
print(series)

Create Series using Pandas:
0     5
1    10
2    15
3    20
4    25
dtype: int64

b) Access the index and the values of our Series

In [2]:
print("\nAccess Index and Values:")
print("Index:", series.index.tolist())
print("Values:", series.values)

Access Index and Values:
Index: [0, 1, 2, 3, 4]
Values: [ 5 10 15 20 25]

c) Compare an array using Numpy with a series using pandas

In [3]:
print("\nCompare Numpy Array with Pandas Series:")
np_array = np.array([5, 10, 15, 20, 25])
print("NumPy Array Type:", type(np_array))
print("Pandas Series Type:", type(series))

Compare Numpy Array with Pandas Series:
NumPy Array Type: <class 'numpy.ndarray'>
Pandas Series Type: <class 'pandas.core.series.Series'>

d) Define Series objects with individual indices

In [4]:
print("\nSeries with Custom Index:")
custom_series = pd.Series([80, 85, 90], index=["Math", "Science", "English"])
print(custom_series)

Series with Custom Index:
Math       80
Science    85
English    90
dtype: int64

e) Access single value of a series

In [5]:
print("\nAccess Single Value from Series (Math):")
print("Marks in Math:", custom_series["Math"])

Access Single Value from Series (Math):
Marks in Math: 80

f) Load datasets in a Data frame variable using

In [8]:
print("\nDataFrame Example (Student Dataset):")
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Score': [85, 92, 78, 88]
}
df = pd.DataFrame(data)
print(df)

DataFrame Example (Student Dataset):
      Name  Score
0    Alice     85
1      Bob     92
2  Charlie     78
3    David     88