b) Write a python program to compute Mean, Median, Mode, Variance, Standard Deviation using Datasets

In [2]:
import pandas as pd
import statistics as stats
data = {'Marks': [85, 90, 78, 92, 85, 88, 78, 90, 85, 92]}
df = pd.DataFrame(data)

print("Dataset (Marks):")
print(df)

marks = df['Marks'].tolist()

mean_value = stats.mean(marks)
median_value = stats.median(marks)
mode_value = stats.mode(marks)
variance_value = stats.variance(marks)
std_deviation = stats.stdev(marks)

print("\nStatistical Calculations:")
print("Mean:", mean_value)
print("Median:", median_value)
print("Mode:", mode_value)
print("Variance:", variance_value)
print("Standard Deviation:", std_deviation)

Dataset (Marks):
   Marks
0     85
1     90
2     78
3     92
4     85
5     88
6     78
7     90
8     85
9     92

Statistical Calculations:
Mean: 86.3
Median: 86.5
Mode: 85
Variance: 26.455555555555556
Standard Deviation: 5.143496432929215

Demonstrate various data pre-processing techniques for a given dataset.

In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler

data = {'Marks': [85, 90, 78, 92, 85, 88, 78, 90, 85, 92]}
df = pd.DataFrame(data)
print("Original Dataset:\n", df)
df.loc[2, 'Marks'] = np.nan
print("\nDataset with Missing Value:\n", df)

df['Marks'].fillna(df['Marks'].mean(), inplace=True)
print("\nAfter Filling Missing Values with Mean:\n", df)

df = df.drop_duplicates()
print("\nAfter Removing Duplicates:\n", df)
scaler = MinMaxScaler()
df['Marks_Normalized'] = scaler.fit_transform(df[['Marks']])

std_scaler = StandardScaler()
df['Marks_Standardized'] = std_scaler.fit_transform(df[['Marks']])

print("\nAfter Feature Scaling (Normalized and Standardized):\n", df)

print("\nFinal Preprocessed Dataset:\n", df)

Original Dataset:
    Marks
0     85
1     90
2     78
3     92
4     85
5     88
6     78
7     90
8     85
9     92

Dataset with Missing Value:
    Marks
0   85.0
1   90.0
2    NaN
3   92.0
4   85.0
5   88.0
6   78.0
7   90.0
8   85.0
9   92.0

After Filling Missing Values with Mean:
        Marks
0  85.000000
1  90.000000
2  87.222222
3  92.000000
4  85.000000
5  88.000000
6  78.000000
7  90.000000
8  85.000000
9  92.000000

After Removing Duplicates:
        Marks
0  85.000000
1  90.000000
2  87.222222
3  92.000000
5  88.000000
6  78.000000

After Feature Scaling (Normalized and Standardized):
        Marks  Marks_Normalized  Marks_Standardized
0  85.000000          0.500000           -0.381720
1  90.000000          0.857143            0.738545
2  87.222222          0.658730            0.116176
3  92.000000          1.000000            1.186650
5  88.000000          0.714286            0.290439
6  78.000000          0.000000           -1.950090

Final Preprocessed Dataset:
        Marks  Marks_Normalized  Marks_Standardized
0  85.000000          0.500000           -0.381720
1  90.000000          0.857143            0.738545
2  87.222222          0.658730            0.116176
3  92.000000          1.000000            1.186650
5  88.000000          0.714286            0.290439
6  78.000000          0.000000           -1.950090

/tmp/ipython-input-3-1976117413.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Marks'].fillna(df['Marks'].mean(), inplace=True)
/tmp/ipython-input-3-1976117413.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Marks_Normalized'] = scaler.fit_transform(df[['Marks']])
/tmp/ipython-input-3-1976117413.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Marks_Standardized'] = std_scaler.fit_transform(df[['Marks']])

 (C) Demonstrate various data pre-processing techniques for a given dataset. Write a python program to compute
i. Reshaping the data,
ii. Filtering the data,
iii. Merging the data
iv. Handling the missing values in datasets
v. Feature Normalization: Min-max normalization

In [4]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

data1 = {
    'ID': [1, 2, 3, 4, 5],
    'Marks': [85, 90, np.nan, 92, 88],
    'Age': [21, 22, 23, np.nan, 21]
}
df1 = pd.DataFrame(data1)
print("Dataset 1:\n", df1)

print("\nReshaping Data using melt():")
reshaped_df = df1.melt(id_vars=['ID'], var_name='Variable', value_name='Value')
print(reshaped_df)

print("\nFiltering Data (Marks > 85):")
filtered_df = df1[df1['Marks'] > 85]
print(filtered_df)

data2 = {
    'ID': [3, 4, 5, 6],
    'City': ['Delhi', 'Mumbai', 'Chennai', 'Kolkata']
}
df2 = pd.DataFrame(data2)
print("\nDataset 2:\n", df2)

merged_df = pd.merge(df1, df2, on='ID', how='left')
print("\nAfter Merging Dataset 1 and 2:\n", merged_df)

print("\nHandling Missing Values (fillna):")
merged_df['Marks'].fillna(merged_df['Marks'].mean(), inplace=True)
merged_df['Age'].fillna(merged_df['Age'].median(), inplace=True)
print(merged_df)

print("\nMin-Max Normalization on Marks and Age:")
scaler = MinMaxScaler()
merged_df[['Marks_Normalized', 'Age_Normalized']] = scaler.fit_transform(merged_df[['Marks', 'Age']])
print(merged_df[['ID', 'Marks_Normalized', 'Age_Normalized']])

print("\nFinal Preprocessed Dataset:\n", merged_df)

Dataset 1:
    ID  Marks   Age
0   1   85.0  21.0
1   2   90.0  22.0
2   3    NaN  23.0
3   4   92.0   NaN
4   5   88.0  21.0

Reshaping Data using melt():
   ID Variable  Value
0   1    Marks   85.0
1   2    Marks   90.0
2   3    Marks    NaN
3   4    Marks   92.0
4   5    Marks   88.0
5   1      Age   21.0
6   2      Age   22.0
7   3      Age   23.0
8   4      Age    NaN
9   5      Age   21.0

Filtering Data (Marks > 85):
   ID  Marks   Age
1   2   90.0  22.0
3   4   92.0   NaN
4   5   88.0  21.0

Dataset 2:
    ID     City
0   3    Delhi
1   4   Mumbai
2   5  Chennai
3   6  Kolkata

After Merging Dataset 1 and 2:
    ID  Marks   Age     City
0   1   85.0  21.0      NaN
1   2   90.0  22.0      NaN
2   3    NaN  23.0    Delhi
3   4   92.0   NaN   Mumbai
4   5   88.0  21.0  Chennai

Handling Missing Values (fillna):
   ID  Marks   Age     City
0   1  85.00  21.0      NaN
1   2  90.00  22.0      NaN
2   3  88.75  23.0    Delhi
3   4  92.00  21.5   Mumbai
4   5  88.00  21.0  Chennai

Min-Max Normalization on Marks and Age:
   ID  Marks_Normalized  Age_Normalized
0   1          0.000000            0.00
1   2          0.714286            0.50
2   3          0.535714            1.00
3   4          1.000000            0.25
4   5          0.428571            0.00

Final Preprocessed Dataset:
    ID  Marks   Age     City  Marks_Normalized  Age_Normalized
0   1  85.00  21.0      NaN          0.000000            0.00
1   2  90.00  22.0      NaN          0.714286            0.50
2   3  88.75  23.0    Delhi          0.535714            1.00
3   4  92.00  21.5   Mumbai          1.000000            0.25
4   5  88.00  21.0  Chennai          0.428571            0.00

/tmp/ipython-input-4-836049333.py:32: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['Marks'].fillna(merged_df['Marks'].mean(), inplace=True)
/tmp/ipython-input-4-836049333.py:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df['Age'].fillna(merged_df['Age'].median(), inplace=True)

In [5]:
from pickle import TRUE
import pandas as pd

data = {
    'id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'first': ['Leone', 'Romola', 'Geri', 'Sandy', 'Jacenta', 'Diane-marie', 'Austen', 'Vanya', 'Giordano', 'Rozele'],
    'last': ['Debrick', 'Phinnessy', 'Prium', 'Doveston', 'Jansik', 'Medhurst', 'Pool', 'Teffrey', 'Elloy', 'Fawcett'],
    'gender': ['Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female'],
    'Marks': [50, 60, 65, 95, 31, 45, 45, 70, 36, 50],
    'selected': ['TRUE', 'FALSE', 'FALSE', 'FALSE', 'TRUE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'FALSE']
}

df = pd.DataFrame(data)
df.to_csv("sample.csv", index=False)

The objectives of this experiment are:
1.       Explore all the statistical operations of Pandas and given in Listing 1
2.       Use Describe command and explore the dataset as given in Listing 2
3.       Use Descriptive Statistics for univariate and bivariate data as given in Listing 3

In [6]:
import pandas as pd

df = pd.read_csv("sample.csv")
print("Loaded Dataset:")
print(df)

print("\nBasic Statistical Measures:")
print("Mean of Marks:", df['Marks'].mean())
print("Median of Marks:", df['Marks'].median())
print("Mode of Marks:", df['Marks'].mode()[0])
print("Standard Deviation of Marks:", df['Marks'].std())
print("Variance of Marks:", df['Marks'].var())
print("Minimum Marks:", df['Marks'].min())
print("Maximum Marks:", df['Marks'].max())
print("Sum of Marks:", df['Marks'].sum())
print("Count of Marks:", df['Marks'].count())

print("\nUsing describe() to summarize statistics:")
print(df.describe())

print("\nUnivariate Statistics (Marks):")
print("Range (Max - Min):", df['Marks'].max() - df['Marks'].min())
print("25th Percentile:", df['Marks'].quantile(0.25))
print("50th Percentile (Median):", df['Marks'].quantile(0.50))
print("75th Percentile:", df['Marks'].quantile(0.75))

print("\nBivariate Statistics (Group by Gender):")
print(df.groupby('gender')['Marks'].mean())

print("\nBivariate Statistics (Group by selected):")
print(df.groupby('selected')['Marks'].mean())

Loaded Dataset:
   id        first       last  gender  Marks  selected
0   1        Leone    Debrick  Female     50      True
1   2       Romola  Phinnessy  Female     60     False
2   3         Geri      Prium    Male     65     False
3   4        Sandy   Doveston  Female     95     False
4   5      Jacenta     Jansik  Female     31      True
5   6  Diane-marie   Medhurst  Female     45      True
6   7       Austen       Pool    Male     45      True
7   8        Vanya    Teffrey    Male     70     False
8   9     Giordano      Elloy    Male     36     False
9  10       Rozele    Fawcett  Female     50     False

Basic Statistical Measures:
Mean of Marks: 54.7
Median of Marks: 50.0
Mode of Marks: 45
Standard Deviation of Marks: 18.666964283341724
Variance of Marks: 348.4555555555555
Minimum Marks: 31
Maximum Marks: 95
Sum of Marks: 547
Count of Marks: 10

Using describe() to summarize statistics:
             id      Marks
count  10.00000  10.000000
mean    5.50000  54.700000
std     3.02765  18.666964
min     1.00000  31.000000
25%     3.25000  45.000000
50%     5.50000  50.000000
75%     7.75000  63.750000
max    10.00000  95.000000

Univariate Statistics (Marks):
Range (Max - Min): 64
25th Percentile: 45.0
50th Percentile (Median): 50.0
75th Percentile: 63.75

Bivariate Statistics (Group by Gender):
gender
Female    55.166667
Male      54.000000
Name: Marks, dtype: float64

Bivariate Statistics (Group by selected):
selected
False    62.666667
True     42.750000
Name: Marks, dtype: float64

The objectives of this experiment are
1.       Explore Label Encoder
2.       Explore Scikit Preprocessing routines like Scaling
3.       Explore Scikit Preprocessing routines like Binarizer

In [7]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, Binarizer
df = pd.read_csv("sample.csv")

label_encoder = LabelEncoder()
df['gender_encoded'] = label_encoder.fit_transform(df['gender'])
df['selected_encoded'] = label_encoder.fit_transform(df['selected'])
print("\nAfter Label Encoding:\n", df[['gender', 'gender_encoded' , 'selected', 'selected_encoded']])
scaler = MinMaxScaler()
df['Marks_scaled'] = scaler.fit_transform(df[['Marks']])
print("\nAfter Scaling Marks (MinMaxScaler):\n", df[['Marks', 'Marks_scaled']])
binarizer = Binarizer(threshold=50)
df['Marks_binarized'] = binarizer.fit_transform(df[['Marks']])
print("\nAfter Binarizing Marks (threshold = 50):\n", df[['Marks', 'Marks_binarized']])

print("\nFinal Preprocessed Dataset:\n", df)

After Label Encoding:
    gender  gender_encoded  selected  selected_encoded
0  Female               0      True                 1
1  Female               0     False                 0
2    Male               1     False                 0
3  Female               0     False                 0
4  Female               0      True                 1
5  Female               0      True                 1
6    Male               1      True                 1
7    Male               1     False                 0
8    Male               1     False                 0
9  Female               0     False                 0

After Scaling Marks (MinMaxScaler):
    Marks  Marks_scaled
0     50      0.296875
1     60      0.453125
2     65      0.531250
3     95      1.000000
4     31      0.000000
5     45      0.218750
6     45      0.218750
7     70      0.609375
8     36      0.078125
9     50      0.296875

After Binarizing Marks (threshold = 50):
    Marks  Marks_binarized
0     50                0
1     60                1
2     65                1
3     95                1
4     31                0
5     45                0
6     45                0
7     70                1
8     36                0
9     50                0

Final Preprocessed Dataset:
    id        first       last  gender  Marks  selected  gender_encoded  \
0   1        Leone    Debrick  Female     50      True               0
1   2       Romola  Phinnessy  Female     60     False               0
2   3         Geri      Prium    Male     65     False               1
3   4        Sandy   Doveston  Female     95     False               0
4   5      Jacenta     Jansik  Female     31      True               0
5   6  Diane-marie   Medhurst  Female     45      True               0
6   7       Austen       Pool    Male     45      True               1
7   8        Vanya    Teffrey    Male     70     False               1
8   9     Giordano      Elloy    Male     36     False               1
9  10       Rozele    Fawcett  Female     50     False               0

   selected_encoded  Marks_scaled  Marks_binarized
0                 1      0.296875                0
1                 0      0.453125                1
2                 0      0.531250                1
3                 0      1.000000                1
4                 1      0.000000                0
5                 1      0.218750                0
6                 1      0.218750                0
7                 0      0.609375                1
8                 0      0.078125                0
9                 0      0.296875                0